@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --font-open: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

