@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

:root {
    --font-open: 'Open Sans', sans-serif;
    --font-poppins: 'Poppins', sans-serif;

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Pink: hsl(322, 100%, 66%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
}

.header-main {
    background: var(--Very-Pale-Cyan) url('../images/bg-hero-mobile.svg') no-repeat;
    background-position: center center;
    background-size: cover; 
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5em;
    padding: 1em;
    width: 80%;
}

.top-btn button {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
    border: none;
    border-radius: 40px;
    font-family: var(--font-open);
    font-size: 1.2em;
    font-weight: bold;
    padding: 18px;
    width: 228px;
    outline: none;
    transition: all .3s;
}

.top-btn button:hover {
    color: rgb(151, 151, 151);
    cursor: pointer;
}

.header-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
    width: 80%;
}

.header-mid-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5em;
}

.header-mid-left h1{
    font-family: var(--font-open);
    font-size: 2em;
    text-align: left;
    max-width: 400px;
}

.header-mid-left p {
    font-family: var(--font-open);
    font-size: 18px;
    text-align: left;
    max-width: 510px;
}

.mid-btn button {
    background-color: var(--Pink);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
    border: none;
    border-radius: 40px;
    color: white;
    font-family: var(--font-open);
    font-size: 1em;
    font-weight: bold;
    padding: 16px;
    width: 300px;
    outline: none;
    transition: all .3s;
}
.mid-btn button:hover {
    background-color: hsl(322, 100%, 81%);
    cursor: pointer;
}

.logo-img {
    width: 258px;
}

.mid-img {
    width: 520px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 1em;
    margin: 4em 0;
}

.back {
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.056);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    width: 1154px;
}

.sect-text h2 {
    font-family: var(--font-open);
    font-size: 1.3em;
    text-align: center;
    padding: 12px 0;
}

.sect-text p {
    font-family: var(--font-open);
    font-size: 18px;
    text-align: center;
    color: var(--Grayish-Blue);
    max-width: 480px;
}

.reverse {
    flex-direction: row-reverse;
}

.main-img {
    width: 450px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-top: 6em;
    background-color: var(--Very-Dark-Cyan);
}

.ready {
    background-color: white;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 1em;
    width: 530px;
    height: 190px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ready span {
    font-family: var(--font-poppins);
    font-size: 1.4em;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: var(--font-open);
    font-size: 1em;
    color: var(--Very-Pale-Cyan);
    width: 100%;
    padding-bottom: 4em;
}

.footer-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.footer-first p {
    max-width: 430px;
}

.center-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
}

.center-icon img {
    padding-top: 4px;
}

.footer-ul ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    list-style-type: none;
}

.footer-ul a {
    color: var(--Very-Pale-Cyan);
    text-decoration: none;
}
.footer-ul a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.footer-social ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
}

.facebook svg, .twitter svg, .instagram svg {
    stroke: white;
    stroke-width: .9px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all .3s;
}
.facebook svg:hover, .twitter svg:hover, .instagram svg:hover {
    stroke: var(--Pink);
    border-color: var(--Pink);
}

.copy {
    font-size: 16px;
    text-align: center;
}

.footer-img {
    width: 188px;
}

@media screen and (max-width:480px) {
    .header-main {
        background: var(--Very-Pale-Cyan) url('../images/bg-hero-mobile.svg') no-repeat;
        background-position: center center;
        background-size: cover; 
        padding: 16px 12px;
    }
    
    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
    }
    
    .top-btn button {
        background-color: white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
        border: none;
        border-radius: 40px;
        font-family: var(--font-open);
        font-size: 12px;
        font-weight: bold;
        padding: 10px;
        width: 128px;
        outline: none;
        transition: all .3s;
    }
    
    .top-btn button:hover {
        color: gray;
        cursor: pointer;
    }
    
    .header-mid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.6em;
        margin-top: 2em;
    }
    
    .header-mid-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }
    
    .header-mid-left h1{
        font-family: var(--font-open);
        font-size: 1.5em;
        text-align: center;
        max-width: 360px;
    }
    
    .header-mid-left p {
        font-family: var(--font-open);
        font-size: 16px;
        text-align: center;
        max-width: 300px;
    }
    
    .mid-btn button {
        background-color: var(--Pink);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
        border: none;
        border-radius: 40px;
        color: white;
        font-family: var(--font-open);
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        width: 220px;
        outline: none;
        transition: all .3s;
    }
    .mid-btn button:hover {
        background-color: hsl(322, 100%, 74%);
        cursor: pointer;
    }
    
    .logo-img {
        width: 108px;
    }
    
    .mid-img {
        width: 280px;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        padding: 1em;
        margin-bottom: 4em;
    }
    
    .back {
        background-color: white;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.056);
        border-radius: 10px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 1.2em;
    }
    
    .sect-text h2 {
        font-family: var(--font-open);
        font-size: 18px;
        text-align: center;
        padding: 12px 0;
    }
    
    .sect-text p {
        font-family: var(--font-open);
        font-size: 14px;
        text-align: center;
        color: var(--Grayish-Blue);
    }
    
    .main-img {
        width: 250px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:1em;
        margin-top: 2em;
        background-color: var(--Very-Dark-Cyan);
    }
    
    .ready {
        background-color: white;
        box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.103);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 22px;
        padding: 1em;
        max-width: 330px;
        max-height: 150px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .ready span {
        font-family: var(--font-poppins);
        font-size: .9em;
    }
    
    .footer-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
        font-family: var(--font-open);
        font-size: 14px;
        color: var(--Very-Pale-Cyan);
    }
    
    .footer-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
        
    }
    
    .center-icon {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
    }
    
    .center-icon img {
        padding-top: 4px;
    }
    
    .footer-ul ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1em;
        list-style-type: none;
    }
    
    .footer-ul a {
        color: var(--Very-Pale-Cyan);
        text-decoration: none;
    }
    .footer-ul a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    .footer-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        width: 95vw;
    }
    
    .footer-social ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
        list-style-type: none;
    }
    
    .facebook svg, .twitter svg, .instagram svg {
        stroke: white;
        stroke-width: .9px;
        padding: 8px;
        border: 1px solid white;
        border-radius: 50%;
        transition: all .3s;
    }
    .facebook svg:hover, .twitter svg:hover, .instagram svg:hover {
        stroke: var(--Pink);
        border-color: var(--Pink);
    }
    
    .copy {
        font-size: 12px;
        text-align: center;
    }
    
    .footer-img {
        width: 168px;
    }
}


@media screen and (max-width:320px) {
    .header-top{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .header-mid {
        margin-top: 12px;
    }

    .mid-img {
        width: 220px;
    }

    .main-img {
        width: 220px;
    }

    .back {
        padding: 0;
    }
}